*
{
    margin:0;
    padding:0;
    box-sizing:border-box ;
    font-family: fantasy;
}
html{
    scroll-behavior:smooth;
}

body{
    background: #f1fbff;
    background-color: #333;
}
.section-padding{
    padding: 100px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}

.carousel-inner::before{
    content: '';
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0,0.7);
    z-index: 1;
}


.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-light .navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color:#000
}
.navbar-light .navbar-nav .navbar-link{
    color: #000;
}
.w-100{
    height: 100vh;

}

#about {
    background-color: #333;
}

.about-img {
    padding: 10px;
    justify-items:flex-start ;
    align-items:center;
    width: 100%;
    margin: 1px 1px 10px 10px;
}


#services {
    background-color: #333;
}

.services .card-body i{
    font-size: 50px;
}

#team{
    background-color: #333;

}

.team .card-body i{
    font-size: 10px;
}

.custom-footer{
    background-color: transparent;
    border:none;
}
.custom-bg{
    height: 350px;
    background: #333;
    border-radius: 12px;
}



.items-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
  }

  .items-img img {
    margin: 10px;
  }

  .items-img p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    text-align: justify;
    padding: 10px;
    margin: auto;
    justify-content:space-between;
  }

#Contact{
    background-color: #333;
}



/* === responsive css === */

@media only screen and (min-width:768px) and (max-width:991px){
    .carousel-caption{
        bottom: 350px;
    }
    .carousel-caption p{
        width: 100%;
    }

    .card-body{
        margin-bottom: 30px;
    }
    .img-area img{
        width: 100%;
    }
}


.text-warning p {
    display: flex;
    flex-direction: row;
}


@media only screen and (max-width: 767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
     
        font-size: 17px;
    }
    .carousel-caption a {
        padding: 10px 15px;
    }
    .carousel-caption p {
        width: 100px;
        line-height: 1.6;
        font-size: 12px;
    }
}

footer {
    font-size: small;
}



